@model khainguyen_FirstStep.Models.DuAnModel

<p>&nbsp;</p>
<h3>Mỗi dự án cần những phần thưởng tuyệt vời!</h3>
<p>Phần thưởng thường là thông tin then chốt để người tài trợ quyết định có tài trợ cho dự án của bạn hay không. <br />Đừng ngần ngại sáng tạo nên những phần thưởng độc đáo và có sức hấp dẫn !</p>
<p>&nbsp;</p>
<input type="hidden" value="@Model.vt_pt_edit" id="vt_pt_edit" name="vt_pt_edit" />
<div class="box box-plege" id="boxPhanThuong">

    @Html.Action("_ChiTiet_TaoPhanThuong", "DuAn", new { IdDuAn = Model.Id })

</div>
<a href="#" class="btn btn-big" id="btn-add-reward-mode">Thêm phần thưởng khác</a>
<div style="height: 50px;"></div>
