<div class="container">

    <!-- acc-login -->
    <div class="panel-login">
        <div class="social">
            <a href="@Url.Action("Facebook", "Account", new { trolai = ViewBag.UrlReferrer })" class="btn btn-login-fb"><i class="fa-facebook-square"></i>&nbsp;Đăng nhập bằng Facebook</a>
        </div>
        <div class="form-login">
            <h3>hoặc tài khoản FirstStep</h3>
            <form id="login" action="#" method="post">
                <div class="loginerror1"><p style="color:#0092c8">Tài khoản không tồn tại</p></div>
                @*<div class="loginerror2"><p style="color:#14C3BE">Bạn chưa nhập đúng password</p></div>
                <div class="loginerror3"><p style="color:#14C3BE">Tài khoản đã bị khóa hoặc chưa kích hoạt. Vui lòng check Email của bạn để kích hoạt hoặc liên hệ Admin.</p></div>*@
                <p>
                    <input class="form-txt" type="text" value="" id="username" name="username" placeholder="Email" />
                </p>
                <p>
                    <input class="form-txt" type="password" value="" id="password" name="password" placeholder="******" />
                </p>
                <p>
                    <input type="checkbox" value="" id="remember" name="remember"/>
                    Ghi nhớ tài khoản
                </p>
                <p><button  class="btn btn-login-fb" onclick="checkId()"><i class="fa-sign-in"></i> &nbsp;Đăng nhập</button></p>
                <p><a href="@Url.Action("QuenMatKhau", "Account")">Quên mật khẩu ?</a></p>
            </form>
        </div>
    </div>

</div>
