/*
	Responsive
*/

@media (max-width: 1100px) {
	.container{width: 90%;}
    .menu-top a,
    .menu-login a{padding: 15px 10px;}
    .btnUser{padding:15px 2px!important}
    .menu-user a{padding: 3px 10px;}    
}

@media (max-width: 992px) {
    .menu-login a span{display: none;}
    .left-col{width: 53%;}
    .right-col{width: 45%;}
    .form-txt {width: 90%}
    .control-filter{top:50px;}
    .panel-filter .inline-block{width: 46%;}
    .proj-intro p{margin: 5px 0;}

    .item-project .img{height: 170px;}
}

@media (max-width: 767px) {
    #iphone{display:none}
    body {font-size: 13px;}
    .hideIP {display: none;}  
    .menu-fix button{float: right; margin-right: 20px;  margin-top: 5px;}
    .menu-fix input[type="text"]{margin-left: 20px; padding-left:0; width: 80% }
    .menu-top, .menu-fix form{display: block; float: none; clear: both; margin:0;}
    .menu-top a{display: block; padding: 15px 20px;}
    .btnMenu{display:block}
    .menu-login{margin-right: 50px;position: static; margin-top: 20px;}
    .menu-user{top: 50px; left:0} 
    .menu-user a{font-size: 1em;}
    .menu-mobile{overflow:hidden; background: rgba(38, 38, 38,0.9); position: absolute; left: 0; top: 50px; width: 100%; padding-bottom: 20px; display: none; }
    .panel-list .control-navigation{display: none}
    .item-project .status {line-height: 1.3em;}
    .item-project .border {padding: 3px;}

    .list-item-tag,.list-tag{float:none;display:block; width:100%;}
    .item-staff .img{width: 100%;}
    .list-tag{margin-top: 20px;}

    .group-option{position: relative;}
    .cb-filter{position:static;}
    .cb-filter nav{left:3%;margin-left:0; max-width: none; right: 3%;width:90%;}  
    
    .page-detail{width: 100%;}
    .row-project .item-project{width: 48%; margin-right: 4%;}
    .row-project .item-project:nth-child(2n){margin-right: 0;}

    .detail-row{padding: 10px 2%;}
    .detail-row .tab-nav a{padding: 10px 3%;}
    .detail-row .tab-nav a span{display: none;}
    .left-col, .right-col{width:100%; float:none; display:block}
    .right-col{margin-top: 20px;}

    .btn-pledge{width: 80%}

    .col-2{width: 100%; float: none;margin-bottom: 10px; display:block}
    .col-4{width: 50%; min-height: 180px;}
    .col-1-9, .col-2-8, .col-3-7, .col-4-6, .col-5-5, 
    .col-6-4, .col-7-3, .col-8-2, .col-9-1{width: 100%; float: none; display:block}
     
    .txt-input{display:block; overflow:hidden;}
    .txt-input input{width: 100%;}
    .txt-input button{display:none}

    #footer nav a{font-size: 0.9em;}

    .form-txt {width: 94%}

    .faq-intro{top: 20%}
    .faq-logo, .faq-info{float: none; width: 100%; text-align: center}

    .faq-group a{display: block}

    .faq-category a{width:100%; margin-right:0; display: block}
    .faq-gleft, .faq-gright {width: 100%; float: none; display: block}
    .faq-gleft{border-left:0; border-bottom: 2px solid #f3f3f3; height: auto; }
    .faq-gleft a{font-weight:700;}

    .affix-left, .affix-right{float:none; display:block; width: 100%}
    .affix-right a{font-size: 1em;}

    .proj-intro{top: 15%;}
    .proj-intro p{margin: 10px 0;}
    .box .form-txt{width:92%;}
    .proj-list-category a{width: 45%}
       
    .proj-tab-nav a{padding: 8px 2%; font-size: 1.3em;}
    .box .des{font-size: 1em;}

    #footer ul a{font-size: 0.9em;}
    #footer .col-4:nth-child(2n+1){clear:both;}
    .copyright{font-size: 1em;}

    .row-project.item4 .item-project{width:31%;margin-right:2.33%}
    .control-filter{top:40px;}
    .cb-filter button{padding: 7px}
    .cb-filter button span{margin: 0 5px;}
    .control-filter h1{font-size:2.5em;}
    .slider-fix-400{height:300px;}
    .inline-block, .inline-block.show, .btn-show-panel-filter{display:none}
    .panel-filter, .panel-filter.show{display: none}

    .supporter-row .project{margin-left: 17%}

    .item-project .img{height: 200px;}
}

@media (max-width: 600px) {
	.row-project.item4 .item-project{width:48%;margin-right:2%}
    .btn-pledge{width: 90%}

    .item-project .img{height: 170px;}
}

@media (max-width: 480px) {
	.menu-fix input[type="text"]{width: 70% }

    .table thead{display:none;}
    .table td{display: block; padding: 3px 10px; margin-left: 25%; position: relative}
    .table td:first-child{margin-top: 10px;}
    .table td:before { content: attr(data-title); position: absolute; left: -25%; }
    .table .text-center{text-align:left}

    .proj-start{width: 100%; margin-left:0;}

    .proj-tab-nav{border-bottom:0;}
    .proj-tab-nav a{width: 95%; border-bottom-width: 1px; margin-bottom: 5px; margin-left:0; border-right: 1px solid #14c3be; border-radius: 3px;}

    .load-more a{width: 90%;}
    
    .proj-popup-content {padding: 10px 3%;}
    .proj-img, .proj-info{float:none;width:100%; margin: 0;}
    .proj-img img{max-width: 100%;}

    .logo{width: 55%}
	.logo img{margin-top: 4px; max-width: 180px;}    

    .item-project .img{height: 120px;}

    .list-tag a{margin-bottom:0;}

}
@media (max-width: 320px) {
    .logo img{margin-top: 7px; max-width: 150px;}

    .row-project .item-project {width: 100%;}

    .item-project .img{height: 180px;}
}

@media (max-width: 300px) {
    .menu-fix button{margin-right:0;}
    .menu-login{margin-right:25px;}

    .item-project .img{height: 150px;}
}