@model IEnumerable<khainguyen_FirstStep.EntityGroupFAQ>
@{
    ViewBag.Title = "Tìm hiểu Firststep";
}

@section MeTaHeader
{
    <meta name="robots" content="noindex,nofollow" />
}

 <!-- SLIDE -->
<div class="slider-fix-300">
<div id="slides-sm">
    <ul class="slides-container">
        <li><img src="~/Content/cssFrontEnd/upload/bigslider/img7.jpg" /></li>
        <li><img src="~/Content/cssFrontEnd/upload/bigslider/img8.jpg" /></li>>
    </ul>

    <div class="faq-intro">
        <div class="container">
            <div class="faq-logo"><i class="fa-support fa-spin"></i></div>
            <div class="faq-info">
                <div class="faq-title">Tìm hiểu về FirstStep</div>
                <div class="faq-des"></div>
            </div>
        </div>
    </div>
</div>
    </div>
@* <!-- SLIDE -->
        <div class="slider-fix-300">
            <div id="slides-sm">
                <ul class="slides-container">
                     <li><img src="~/Content/cssFrontEnd/upload/bigslider/img7.jpg" /></li>
        <li><img src="~/Content/cssFrontEnd/upload/bigslider/img8.jpg" /></li>>
                </ul>
                <div class="faq-intro">
                    <div class="container">
                        <div class="faq-logo"><i class="fa-support fa-spin"></i></div>
                        <div class="faq-info">
                            <div class="faq-title">FAQ</div>
                            <div class="faq-des faq-gray">Looking for inspiration, tips, tools, and best practices for making a successful project?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


<!-- FAQ -->
<div class="container">

    @*<div class="faq-search">
        <input class="form-txt" type="text" placeholder="search anything, you need help :)" /><i class="fa-search"></i>
    </div>*@   

    <div class="faq-list-ask" id="noidung">
       
	<h3><p>V&igrave; sao c&oacute; Firststep?</p></h3>
<p>
	Firststep l&agrave; trang web về huy động vốn cộng đồng cho những dự &aacute;n mang lại &yacute; tưởng hữu &iacute;ch cho cộng đồng tr&ecirc;n tất cả c&aacute;c lĩnh vực. Firststep l&agrave; cầu nối cho những &yacute; tưởng Việt độc đ&aacute;o v&agrave; những ai y&ecirc;u s&aacute;ng tạo. Bằng c&aacute;ch biến những &yacute; tưởng hữu &iacute;ch th&agrave;nh hiện thực, Firststep gi&aacute;n tiếp n&acirc;ng cao đời sống người Việt bằng những s&aacute;ng tạo hữu &iacute;ch, khả năng thực nghiệm cao. C&aacute;c th&agrave;nh vi&ecirc;n s&aacute;ng lập bao gồm:</p>
<p>
	- <b>Kiều C&ocirc;ng B&igrave;nh</b>: Anh du học tại Mỹ từ những năm phổ th&ocirc;ng. Trong 08 năm du học, anh lu&ocirc;n t&igrave;m kiếm những &yacute; tưởng độc đ&aacute;o tại Mỹ. Sau khi về nước, B&igrave;nh bắt tay ngay v&agrave;o việc triển khai &yacute; tưởng m&agrave; anh đ&atilde; biết v&agrave; Firststep l&agrave; &yacute; tưởng đầu ti&ecirc;n anh muốn triển khai. Mặc d&ugrave; anh rất bận với c&ocirc;ng t&aacute;c quản l&yacute; điều h&agrave;nh sự nghiệp kinh doanh của gia đ&igrave;nh trong lĩnh vực Container v&agrave; semi Rơ-mooc, anh vẫn d&agrave;nh thời gian để g&oacute;p &yacute; tưởng x&acirc;y dựng n&ecirc;n h&igrave;nh h&agrave;i v&agrave; định hướng ph&aacute;t triển của Firststep.</p>
<p>
	- <b>Ho&agrave;ng Mạnh Đức</b>: Anh c&oacute; chuy&ecirc;n m&ocirc;n vững v&agrave;ng về IT nhưng lại th&iacute;ch dấn th&acirc;n v&agrave;o ph&aacute;t triển kinh doanh. Sau khi ra trường, anh tham gia s&aacute;ng lập một c&ocirc;ng ty chuy&ecirc;n về in ấn v&agrave; thiết kế web v&agrave; đ&atilde; ph&aacute;t triển được 03 năm. Về web Firststep, mọi giao diện, chức năng vận h&agrave;nh v&agrave; m&atilde; h&oacute;a web đều c&oacute; sự tham gia trực tiếp của Đức. Cũng như B&igrave;nh, Đức cũng y&ecirc;u th&iacute;ch c&aacute;c &yacute; tưởng s&aacute;ng tạo v&agrave; nhận lời tham gia khi được biết về huy động vốn cộng đồng.</p>
<p>
	- <b>Nguyễn Trung Ki&ecirc;n</b>: Anh c&oacute; chuy&ecirc;n m&ocirc;n về marketing với nền tảng kiến thức rộng tr&ecirc;n nhiều lĩnh vực. Anh l&agrave; con người trầm t&iacute;nh v&agrave; y&ecirc;u th&iacute;ch c&ocirc;ng việc s&aacute;ng tạo nội dung. Anh đ&atilde; từng chắp b&uacute;t cho nhiều b&agrave;i ph&aacute;t biểu của l&atilde;nh đạo, viết tin b&agrave;i PR, quản l&yacute; nội dung, bi&ecirc;n tập ch&iacute;nh bản tin nội bộ. Anh thừa nhận rằng m&igrave;nh kh&ocirc;ng gọi l&agrave; qu&aacute; s&aacute;ng tạo nhưng lu&ocirc;n c&oacute; đam m&ecirc; với những &yacute; tưởng độc đ&aacute;o, s&aacute;ng tạo kh&ocirc;ng chỉ trong lĩnh vực quảng c&aacute;o truyền th&ocirc;ng. Với chuy&ecirc;n m&ocirc;n của m&igrave;nh, anh Ki&ecirc;n phụ tr&aacute;ch x&acirc;y dựng to&agrave;n bộ nội dung nền tảng cho Firststep hiện nay.</p>
        <p>
	- <b>Muffin</b>: Anh ấy th&agrave;nh vi&ecirc;n nhỏ nhất trong firststep. C&ocirc;ng việc hằng ng&agrave;y của anh l&agrave; kết nối c&aacute;c th&agrave;nh vi&ecirc;n firststep, mang lại niềm vui cho mọi người bằng sự dễ thương v&agrave; h&oacute;m hỉnh của m&igrave;nh. Bạn sẽ bất ngờ nếu bắt gặp anh ấy với d&aacute;ng vẻ năng động v&agrave; sẽ c&ograve;n bất ngờ hơn nếu bạn kh&ocirc;ng phải l&ograve;ng anh ấy ngay từ c&aacute;i nh&igrave;n đầu ti&ecirc;n.</p>        
    </div>


</div>

<div style="height: 50px;"></div>
@section jqueryPlugin{
<script>
    $(document).ready(function () {
        var $slides = $('#slides-sm');
        Hammer($slides[0]).on("swipeleft", function (e) {
            $slides.data('superslides').animate('next');
        });

        Hammer($slides[0]).on("swiperight", function (e) {
            $slides.data('superslides').animate('prev');
        });
        $slides.superslides({
            slide_easing: 'easeInOutCubic',
            slide_speed: 800,
            pagination: false,
            hashchange: false,
            scrollable: true,
            play: 5000,
            animation: 'fade',
            inherit_height_from: '.slider-fix-300'
        });
        group(2);
    });
    $('.faq-ans').each(function () {
        $(this).attr('data-height', $(this).height()).height(0);
    });
    $('.faq-ask a:first-child').click(function (e) {
        e.preventDefault();
        if ($(this).attr('data-show') == "1") {
            $(this).attr('data-show', 0);
            $(this).next().animate({ height: 0 }, 500);
        }
        else {
            $(this).attr('data-show', 1);
            $n = $(this).next();
            $n.animate({ height: $n.attr('data-height') }, 500);
            //$('.faq-ans').animate({ height: 0 }, 300, function () {
            //    $('.faq-ask a:first-child').attr('data-show', 0);
            //    $(this).attr('data-show', 1);
            //    $n.animate({ height: $n.attr('data-height') }, 500);
            //});
        }
    });
@*    function group(id) {
        var postURL = '@Url.Action("_IndexFAQ1_NoiDung", "FAQ")';
        $.post(postURL, { "id": id }, function (data) {
            if (data == "Error") {
                alert("Error");
            } else {
                $('#noidung').html(data);
            }
        });
        return false;
    }*@
    //$(document).ready(function () {
    //    var $slides = $('#slides');
    //    Hammer($slides[0]).on("swipeleft", function (e) {
    //        $slides.data('superslides').animate('next');
    //    });

    //    Hammer($slides[0]).on("swiperight", function (e) {
    //        $slides.data('superslides').animate('prev');
    //    });
    //    $slides.superslides({
    //        slide_easing: 'easeInOutCubic',
    //        slide_speed: 800,
    //        pagination: false,
    //        hashchange: false,
    //        scrollable: true,
    //        play: 5000,
    //        animation: 'fade'
    //    });
    //});
</script>

}